*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family:sans-serif;
}
html{
    scroll-behavior: smooth;
}

/**------------------------**/
/**------------------------**/
/**----------nav-----------**/
/**------------------------**/
/**------------------------**/

.navbar{
    background-color: rgba(0,0,0,.8);
    backdrop-filter: saturate(180%) blur(20px);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 48px;
   
}
.navbar a:first-child{
    font-size: 1.4em;
}
.navbar a{
   color: rgb(190, 190, 190); 
   margin: 10px 48px;
   position: relative;
   top: 8px;
   font-size: bold;
   font-weight: 100;
   font-size: .8em;
   color:rgb(192, 192, 192);
   transition: all .2s ease-in-out;
}

.navbar a:first-child{
    position:relative;
    top: 1px;
}

.navbar__a-img{
    display: block;
    width: 28px;
    height: 28px;
    display: flex;
    background-image: url(../IMG/appleiconsvg.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.navbar__a:first-child{
    display: flex;
}


.navbar a:hover{
    color: #fff;
}

/**------------------------**/
/**------------------------**/
/**-------div iphone-------**/
/**------------------------**/
/**------------------------**/

main{
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    background-color: #fffbfb;
}
.articulos{
    box-sizing: border-box;
}

main h2{
    font-size: 50px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -2px;
    margin-top: 50px;
    margin-bottom: 8px;
}
main h3{
    display: block;
    margin-left: auto;
    position: relative;
    flex-shrink: 1;
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 10px;
}

.main__text__a{
    font-size: 20px;
    margin: 10px 25px;
    color: #06c;
}

.main__text__a:hover{
    text-decoration: underline;
}

.newiphone12{
    width: 100%;
    display: flex;
}

.newiphone12__div{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 620px;
}

.iPhone12Pro{
    background-color: black;
    color: white;
    margin-top: -20px;
}

.iPhone12Pro h2{
    padding-top: 40PX;
}

.newiphone12__div{
    padding-top: 50px;  
}


/**------------------------**/
/**------------------------**/
/**------gide section------**/
/**------------------------**/
/**------------------------**/

.columartic{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.text__a{
    font-size: 20px;
    padding: 40px;
    color: #06c;
}

.text__a:hover{
    text-decoration: underline;
}

/*mac*/
.mac{
    width: 520px;
    height: 516px;
    box-sizing: border-box;
    color: #fff;
    margin: 20px 10px;
    width: 520px;
    background-color: black;
}
.mac h4{
    padding-top:20px ;
    padding-bottom: 20px;
    font-size: 48px;
}
.mac h5{
    font-size: 30px;
    padding-bottom: 10px;
}
/*fin de mac*/

/*apple watch*/
.watch__s6{
    width: 520px;
    height: 516px;
    overflow:hidden;
    box-sizing: border-box;
    background-color: black; 
    color: #fff;
    margin: 20px 10px;
}
.watch__s6 h4{
    padding-top:20px ;
    padding-bottom: 0px;
    font-size: 48px;
}
.watch__s6 span{
    font-size: 20px;
    color: red;
}
.watch__s6 h5{
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
}
/*fin apple watch*/

/*apple watch se*/

.watch__se{
    width: 520px;
    height: 516px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(252, 246, 246);
    margin: 20px 5px;
}

.watch__se h4{
    padding-top:20px ;
    padding-bottom: 0px;
    font-size: 48px;
}
.watch__se span{
    font-size: 20px;
    color: red;
}
.watch__se h5{
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 100;
}
/* fin apple watch se*/


/*iPad Air*/
.iPad__air{
    width: 520px;
    height: 516px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(252, 246, 246);
    margin: 20px 10px;
}
.iPad__air h4{
    padding-top:20px ;
    padding-bottom: 0px;
    font-size: 48px;
}
.iPad__air h5{
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 100;
}
/*fin de iPad air*/

/*one*/
.one{
    width: 520px;
    height: 516px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(252, 246, 246);
    margin: 20px 10px;
}
.one h4{
    padding-top:20px ;
    padding-bottom: 0px;
    font-size: 48px;
}
.one h5{
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 100;
}
/*fin one*/

/*airpods*/
.airpods{
    width: 520px;
    height: 516px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(252, 246, 246);
    margin: 20px 10px; 
}
.com{
    margin-bottom: 10px;
}
.airpods h4{
    padding-top:20px ;
    padding-bottom: 0px;
    font-size: 48px;
    margin-bottom: 25px;
}

/*fin airpods*/

/*footer*/


footer{
    background-color: #f5f5f7;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.footerdiv{
    text-align: left;
    width: 65%;
}

.footerdiv section{
    padding: 20px;
    list-style: none;
    color: #86868b;
    border-bottom: 1px solid #d2d2d7;
}
.footerdiv ul{
    list-style: none;
    margin-right: 20px;
}
section span{
    font-size: 11px;
}

/*divs de nav footer*/
.nav__footer{
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    color: #86868b;
    margin-bottom: 40px;
}
.nav__footer h3{
    color: #3d3d3d;
    font-weight: 700;
}
.nav__footer h3,a{
    font-size: 12px;
}
.nav__footer li{
    margin-top: 10px;
}
.lisfooter a{
    color: #86868b;
}
.nav__footer a:hover{
    text-decoration: underline;
}
.masinf{
    color: #86868b;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.masinf a{
    color: #06c;
}